.spinner {
    width: 56px;
    height: 56px;
    border: 6.7px solid;
    border-radius: 6px;

}

.profile {
    background: url('assets/mark-shs-profile-transparent.webp');
    background-repeat: no-repeat;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    background-size: cover;
}

@keyframes animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}